.summaryReference {
    font-weight: bold;  
}

.searchbox{
	
	z-index: 1;		
}

.zero-corner {
    position: relative;
}
.btn-corner {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 2px;
    padding-left: 8px;
}
.btn-corner-alt {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 6px;
    padding-left: 4px;
}

  body {
    padding-top: 10px;
  }

a{
    cursor: pointer;
	margin-right: 5px;
}
.summaryPurpose {
    font-style: italic;    
}

.glyphicon{
    margin-right: 3px;    
}

.list-group{
	margin-bottom: 0px;
}

.list-group-item {
    padding: 7px;
	margin-bottom: 2px;
	transition: background-color 0.5s ease;
}

.list-group-item:hover {
    background-color: hsla(207,60%,96%,1);
}

.bottom5 {margin-bottom: 5px;}
.bottom7 {margin-bottom: 7px;}
.bottom10 {margin-bottom: 10px;}
.bottom15 {margin-bottom: 15px;}
.bottom17 {margin-bottom: 17px;}
.bottom30 {margin-bottom: 30px;}

.top5 {margin-top: 5px;}
.top7 {margin-top: 7px;}
.top10 {margin-top: 10px;}
.top15 {margin-top: 15px;}
.top17 {margin-top: 17px;}
.top30 {margin-top: 30px;}

.pad1h {padding-right: 1px;padding-left: 1px;}
.pad2h {padding-right: 2px;padding-left: 2px;}
.pad5h {padding-right: 5px;padding-left: 5px;}
.pad7h {padding-right: 7px;padding-left: 7px;}
.pad10h {padding-right: 10px;padding-left: 10px;}
.pad15h {padding-right: 15px;padding-left: 15px;}
.pad20h {padding-right: 20px;padding-left: 20px;}
.pad25h {padding-right: 25px;padding-left: 25px;}
.pad30h {padding-right: 30px;padding-left: 30px;}

.pad1v {padding-top: 1px;padding-bottom: 1px;}
.pad2v {padding-top: 2px;padding-bottom: 2px;}
.pad5v {padding-top: 5px;padding-bottom: 5px;}
.pad7v {padding-top: 7px;padding-bottom: 7px;}
.pad10v {padding-top: 10px;padding-bottom: 10px;}
.pad15v {padding-top: 15px;padding-bottom: 15px;}
.pad20v {padding-top: 20px;padding-bottom: 20px;}
.pad25v {padding-top: 25px;padding-bottom: 25px;}
.pad30v {padding-top: 30px;padding-bottom: 30px;}

.img-center {margin:0 auto;}

.code-edit {
        font-family: Consolas,"courier new";
        font-size: 60%;
        line-height: 140%;
		overflow-x: hidden;
        white-space: pre;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -o-pre-wrap;
    }   


.btn:hover{
	border-top-right-radius: 12px;
	
}

.btn{
	border-radius: 0px;
	transition: border-radius 0.5s ease;
}
.cssload-thecube {
	width: 30px;
	height: 30px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	position: relative;
	transform: rotateZ(45deg);
		-o-transform: rotateZ(45deg);
		-ms-transform: rotateZ(45deg);
		-webkit-transform: rotateZ(45deg);
		-moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
	position: relative;
	transform: rotateZ(45deg);
		-o-transform: rotateZ(45deg);
		-ms-transform: rotateZ(45deg);
		-webkit-transform: rotateZ(45deg);
		-moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
	float: left;
	width: 50%;
	height: 50%;
	position: relative;
	transform: scale(1.1);
		-o-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
}
.cssload-thecube .cssload-cube:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(43,160,199,0.85);
	animation: cssload-fold-thecube 2.76s infinite linear both;
		-o-animation: cssload-fold-thecube 2.76s infinite linear both;
		-ms-animation: cssload-fold-thecube 2.76s infinite linear both;
		-webkit-animation: cssload-fold-thecube 2.76s infinite linear both;
		-moz-animation: cssload-fold-thecube 2.76s infinite linear both;
	transform-origin: 100% 100%;
		-o-transform-origin: 100% 100%;
		-ms-transform-origin: 100% 100%;
		-webkit-transform-origin: 100% 100%;
		-moz-transform-origin: 100% 100%;
}
.cssload-thecube .cssload-c2 {
	transform: scale(1.1) rotateZ(90deg);
		-o-transform: scale(1.1) rotateZ(90deg);
		-ms-transform: scale(1.1) rotateZ(90deg);
		-webkit-transform: scale(1.1) rotateZ(90deg);
		-moz-transform: scale(1.1) rotateZ(90deg);
}
.cssload-thecube .cssload-c3 {
	transform: scale(1.1) rotateZ(180deg);
		-o-transform: scale(1.1) rotateZ(180deg);
		-ms-transform: scale(1.1) rotateZ(180deg);
		-webkit-transform: scale(1.1) rotateZ(180deg);
		-moz-transform: scale(1.1) rotateZ(180deg);
}
.cssload-thecube .cssload-c4 {
	transform: scale(1.1) rotateZ(270deg);
		-o-transform: scale(1.1) rotateZ(270deg);
		-ms-transform: scale(1.1) rotateZ(270deg);
		-webkit-transform: scale(1.1) rotateZ(270deg);
		-moz-transform: scale(1.1) rotateZ(270deg);
}
.cssload-thecube .cssload-c2:before {
	animation-delay: 0.35s;
		-o-animation-delay: 0.35s;
		-ms-animation-delay: 0.35s;
		-webkit-animation-delay: 0.35s;
		-moz-animation-delay: 0.35s;
}
.cssload-thecube .cssload-c3:before {
	animation-delay: 0.69s;
		-o-animation-delay: 0.69s;
		-ms-animation-delay: 0.69s;
		-webkit-animation-delay: 0.69s;
		-moz-animation-delay: 0.69s;
}
.cssload-thecube .cssload-c4:before {
	animation-delay: 1.04s;
		-o-animation-delay: 1.04s;
		-ms-animation-delay: 1.04s;
		-webkit-animation-delay: 1.04s;
		-moz-animation-delay: 1.04s;
}



@keyframes cssload-fold-thecube {
	0%, 10% {
		transform: perspective(56px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		transform: perspective(56px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		transform: perspective(56px) rotateY(180deg);
		opacity: 0;
	}
}

@-o-keyframes cssload-fold-thecube {
	0%, 10% {
		-o-transform: perspective(56px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-o-transform: perspective(56px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-o-transform: perspective(56px) rotateY(180deg);
		opacity: 0;
	}
}

@-ms-keyframes cssload-fold-thecube {
	0%, 10% {
		-ms-transform: perspective(56px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-ms-transform: perspective(56px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-ms-transform: perspective(56px) rotateY(180deg);
		opacity: 0;
	}
}

@-webkit-keyframes cssload-fold-thecube {
	0%, 10% {
		-webkit-transform: perspective(56px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-webkit-transform: perspective(56px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-webkit-transform: perspective(56px) rotateY(180deg);
		opacity: 0;
	}
}

@-moz-keyframes cssload-fold-thecube {
	0%, 10% {
		-moz-transform: perspective(56px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-moz-transform: perspective(56px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-moz-transform: perspective(56px) rotateY(180deg);
		opacity: 0;
	}
}
