#entryContainer {
  margin-top: 15px;
}
.entry-heading {
  font-weight: bold;
}

.entry-img {
  margin-right: 10px;
  background-color: lightgray;
  border-color: #727272;
  border-width: thin;
  border-style: solid;
  border-radius: 4px;
}
.entry-img-fixed {
  max-height: 400px;
  max-width: 300px;   
}