<ol class="breadcrumb">
    <li><a (click)="goHome()">Home</a></li>
    <li class="active">{{category.name}}</li>
</ol>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Entries</h3>
        </div>
        <div class="panel-body">
            <ul *ngIf="summaries && summaries.length" class="list-group">
                <li class="list-group-item" *ngFor="let summary of summaries|sortRefNumeric">
                    <a *ngIf='loggedIn' (click)="editEntry(summary)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                    <a (click)="gotoEntry(summary.reference)"><span class="summaryReference">{{summary.reference}}: </span><span class="summaryTitle">{{summary.title}}</span><span class="summaryPurpose" *ngIf='summary.purpose'> ({{summary.purpose.trim()}})</span></a>
                </li>
            </ul>
            <p *ngIf="!summaries || !summaries.length">Loading entries...</p>
        </div>
    </div>
    <div *ngIf='loggedIn'>
        <button class="btn btn-success" type="button" (click)="addEntry()"><span class="glyphicon glyphicon-plus"></span>Add new entry</button>
        <button class="btn btn-primary" type="button" (click)="goBack()">Back</button>
    </div>
</div>