<div class="zero-corner">
    <div *ngIf='!loggedIn'>
        <button class="btn btn-primary btn-corner-alt" type="button" (click)="gotoLogin()"><span class="glyphicon glyphicon-log-in"></span></button>
    </div>
    <div *ngIf='loggedIn'>
        <button class="btn btn-danger btn-corner" type="button" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span></button>
    </div>
</div>
<div class="container">
    <div class="row bottom15">
        <div class="col-xs-12">
            <img src="images/demonline.png" class="img-responsive img-center" alt="DemOnline V2">
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Search</h3>
        </div>
        <div class="panel-body">
            <div class="input-group bottom5">
                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-search"></span></span>
                <input #term type="text" class="form-control" (keyup)="searchSummaries(term.value)" placeholder="Enter keywords" [ngModel]=currentSearchTerm>
            </div>
            <div *ngIf='searchComplete && (!summaries || !summaries.length)' class="panel searchbox">
                <p *ngIf='searchComplete && (!summaries || !summaries.length)' class="list-group-item">
                    No results found. Try another search term or browse by category below
                </p>
            </div>
            <div *ngIf='summaries && summaries.length' class="panel searchbox">
                <ul class="list-group">
                    <li *ngFor="let summary of summaries|sortRefNumeric" class="list-group-item">
                        <a *ngIf='loggedIn' (click)="editEntry(summary)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                        <a class="summaryEntry" (click)="gotoEntry(summary.reference)"><span class="summaryReference">{{summary.reference}}: </span><span class="summaryTitle">{{summary.title}}</span><span class="summaryPurpose" *ngIf='summary.purpose'> ({{summary.purpose}})</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Browse by category</h3>
        </div>
        <div class="panel-body">
            <ul *ngIf="categories && categories.length" class="list-group">
                <li *ngFor="let category of categories" class="list-group-item">
                    <a *ngIf='loggedIn' (click)="editCategory(category)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                    <a (click)="gotoList(category)">{{category.name}}</a>
                </li>
            </ul>
            <p *ngIf="!categories || !categories.length">Loading categories...</p>
        </div>
    </div>
    <div *ngIf='loggedIn'>
        <button class="btn btn-primary" type="button" (click)="addCategory()"><span class="glyphicon glyphicon-plus"></span>Add new category</button>
    </div>

</div>