<div>
    <ol class="breadcrumb">
        <li><a (click)="goHome()">Home</a></li>
        <li><a *ngIf='category' (click)="gotoList(category)">{{category.name}}</a></li>
        <li *ngIf='entry' class="active">{{entry.reference}}</li>
    </ol>
    <div class="container" id="entryContainer">
        <div class="panel panel-primary">
             <div class="panel-heading">
            <h3 *ngIf='entry' class="panel-title"><span class="entry-title">{{entry.title}}</span></h3>
            <h3 *ngIf='!entry' class="panel-title"><span class="entry-title">Loading...</span></h3>
            </div>
            <div class="panel-body">
                <div *ngIf='entry' class="media">
                    <a *ngIf='entry.img' class="pull-left">
                        <img class="img-responsive entry-img media-object" [ngClass]="{'entry-img-fixed': !imgZoom}" (click)="toggleImgZoom()" [src]="entry.img" />
                    </a>
                    <div class="media-body">                        
                        <p *ngIf='entry.purpose' class="media-heading"><span class="entry-heading entry-purpose-heading">Purpose: </span><span class="entry-contents entry-purpose">{{entry.purpose}}</span></p>
                        <p *ngIf='entry.author' class="media-heading"><span class="entry-heading entry-author-heading">Author: </span><span class="entry-contents entry-author">{{entry.author}}</span></p>
                        <p class="media-heading"><span *ngIf='entry.description' class="entry-heading entry-description-heading">Description: </span><span *ngIf='entry.description' class="entry-contents entry-description">{{entry.description}}</span></p>
                        <p *ngIf='entry.similarTo && entry.similarTo.length'>Similar to:
                            <a *ngFor="let simLink of entry.similarTo" (click)="gotoEntry(simLink)">{{simLink}}</a>
                        </p>
                        <pre #script *ngIf='entry.script' style="max-height: 16em;"[innerHTML]="entry.script | syntaxHighlight:'python'"></pre>
                        <button *ngIf='entry.script' data-clipboard-demo data-clipboard-action="copy" [attr.data-clipboard-text]="entry.script" class="btn btn-primary btn-sm" type="button" (click)="copyScript()">Copy to clipboard <span class="glyphicon glyphicon-copy "></span></button>                      
                    </div>
                </div>
		<div *ngIf="!entry" class="cssload-thecube">
			<div class="cssload-cube cssload-c1"></div><div class="cssload-cube cssload-c2"></div><div class="cssload-cube cssload-c4"></div><div class="cssload-cube cssload-c3"></div>
		</div>
            </div>
        </div>
        <button class="btn btn-primary" type="button" (click)="goBack()">Back</button>
    </div>    
</div>
