<div class="container" id="categoryContainer">
    <div *ngIf='category'>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Category Details</h3>
            </div>
            <div class="panel-body pad25h">
                <div class="row bottom5">
                    <div class="input-group">
                        <span class="input-group-addon">Prefix</span>
                        <input type="text" class="form-control" required [(ngModel)]="category.prefix">
                    </div>
                </div>
                <div class="row bottom5">
                    <div class="input-group">
                        <span class="input-group-addon">Name</span>
                        <input type="text" class="form-control" required [(ngModel)]="category.name">
                    </div>
                </div>
                <div class="row bottom5">
                    <div class="input-group">
                        <span class="input-group-addon">Description</span>
                        <input type="text" class="form-control" required [(ngModel)]="category.description">
                    </div>
                </div>                
            </div>
            <div *ngIf='!category'>
                <div class="row">
                    <div class="alert alert-danger" role="alert">No category found</div>
                </div>
            </div>
        </div>
    </div>
    <p *ngIf="!category">Loading...</p>
    <div class="bottom5">
        <button class="btn btn-success" type="button" (click)="saveChanges()"><span class="glyphicon glyphicon-floppy-disk"></span>{{editMode? 'Save':'Add'}}</button>
        <button class="btn btn-warning" type="button" (click)="goBack()"><span class="glyphicon glyphicon-remove"></span>{{editMode? 'Discard':'Cancel'}}</button>
        <button *ngIf="editMode" [disabled]="showConfirmDelete" class="btn btn-danger" type="button" (click)="showConfirmDelete=true"><span class="glyphicon glyphicon-trash"></span>Delete</button>
    </div>
    <div *ngIf="showConfirmDelete" class="alert alert-danger" role="alert">
        <b>Are you sure you want to delete this category?</b>
        <button class="btn btn-success" type="button" (click)="deleteCategory()">Yes</button>
        <button class="btn btn-warning" type="button" (click)="showConfirmDelete=false">No</button>
    </div>
</div>