<div class="container" id="entryContainer">
    <div *ngIf='entry'>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Entry Details</h3>
            </div>
            <div class="panel-body pad25h">
                <div class="row bottom5">
                    <div class="input-group">
                        <span class="input-group-addon">Reference</span>
                        <input type="text" class="form-control" required [(ngModel)]="entry.reference">
                    </div>
                </div>
                <div class="row bottom5">
                    <div class="input-group">
                        <span class="input-group-addon">Title</span>
                        <input type="text" class="form-control" required [(ngModel)]="entry.title">
                    </div>
                </div>
                <div class="row bottom5">
                    <div class="input-group">
                        <span class="input-group-addon">Purpose</span>
                        <input type="text" class="form-control" required [(ngModel)]="entry.purpose">
                    </div>
                </div>
                <div class="row bottom5">
                    <div class="input-group">
                        <span class="input-group-addon">Description</span>
                        <textarea rows="2" class="form-control" required [(ngModel)]="entry.description"></textarea>
                    </div>
                </div>
                <div class="row bottom5">
                    <div class="input-group">
                        <span class="input-group-addon">Author</span>
                        <input type="text" class="form-control" required [(ngModel)]="entry.author">
                    </div>
                </div>
                <div class="row bottom5">
                    <div class="input-group">
                        <span class="input-group-addon">Script</span>
                        <textarea rows="3" class="form-control code-edit" required [(ngModel)]="entry.script"></textarea>
                    </div>
                </div>
                <div class="row bottom5">
                    <div class="input-group">
                        <span class="input-group-addon">Category</span>
                        <select class="form-control" required [(ngModel)]="entry.category">
                            <option *ngFor="let category of categories" [value]="category.prefix">{{category.name}} ({{category.prefix}})</option>
                        </select>
                    </div>
                </div>
                <div class="row bottom5">
                    <div class="input-group">
                        <span class="input-group-addon">Similar to</span>
                        <input type="text" class="form-control" required [(ngModel)]="similarToList" placeholder="Enter references of similar experiments, separated by a comma.">
                    </div>
                </div>
                <div class="row">
                    <div class="input-group">
                        <span class="input-group-addon">Image</span>
                        <input class="form-control" id="inputFileToLoad" type="file" (change)="fileChangeEvent($event)" placeholder="Upload file..."
                        />
                    </div>
                </div>
            </div>
            <div *ngIf='!entry'>
                <div class="row bottom5">
                    <div class="alert alert-danger" role="alert">No entry found</div>
                </div>
            </div>
        </div>
    </div>
    <p *ngIf="!entry">Loading...</p>
    <div class="bottom5">
        <button class="btn btn-success" type="button" (click)="saveChanges()"><span class="glyphicon glyphicon-floppy-disk"></span>{{editMode? 'Save':'Add'}}</button>
        <button class="btn btn-warning" type="button" (click)="goBack()"><span class="glyphicon glyphicon-remove"></span>{{editMode? 'Discard':'Cancel'}}</button>
        <button *ngIf="editMode" [disabled]="showConfirmDelete" class="btn btn-danger" type="button" (click)="showConfirmDelete=true"><span class="glyphicon glyphicon-trash"></span>Delete</button>
    </div>
    <div *ngIf="showConfirmDelete" class="alert alert-danger" role="alert">
        <b>Are you sure you want to delete this entry?</b>
        <button class="btn btn-success" type="button" (click)="deleteEntry()">Yes</button>
        <button class="btn btn-warning" type="button" (click)="showConfirmDelete=false">No</button>
    </div>
</div>
